{% extends 'base.html' %}

{% block body %}
<br>
<br>
<br>
<br>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    {% if user.is_authenticated %}
        <p>안녕하세요, {{ user.username }}님!</p>
        <a href="{% url 'accounts:logout' %}">로그아웃</a>
    {% else %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">로그인</button>
        </form>
        <br>
        <form method="get" action="{% url 'accounts:signup' %}">
            <button type="submit">회원가입</button>
        </form>
    {% endif %}
</body>
</html>
{% endblock %}