{% extends 'base.html' %}

{% block body %}
<br>
<br>
<br>
<br>
<div style="display: flex; flex-direction: column; align-items: center;">
    {% if not request.session.uploaded_image_url %}
        <img src="{{ MEDIA_URL }}/media/images/kick_onoff/kick_on.png" alt="Kick On">
        <br>
    {% endif %}

    {% if request.session.uploaded_image_url %}
        <img src="{{ request.session.uploaded_image_url }}" alt="Uploaded Image" style="max-width: 500px; max-height: 500px;">
        <br>
    {% endif %}

    <form id="upload-form" action="{% url 'app1:image_upload' %}" method="POST" enctype="multipart/form-data" style="display:none;">
        {% csrf_token %}
        <input type="file" name="image" id="id_image" accept="image/*" capture>
        {% if form.errors %}
            {{ form.errors }}
        {% endif %}
    </form>

    <!-- 여기에 분석 점수와 설명 표시 -->
    
    <br>
    <br>

    <button id="upload-button">반납하기</button>
    <br>
    <br>

    {% if analysis_score %}
    <div>
        <h3>획득한 점수:</h3>
        <p>{{ analysis_score }}점</p>
    </div>
    {% endif %}

    {% if analysis_phrase %}
    <div>
        <h3>분석 결과:</h3>
        <p>{{ analysis_phrase }}</p>
    </div>
    {% endif %}


    <script type="text/javascript">
        document.getElementById('upload-button').addEventListener('click', function() {
            document.getElementById('id_image').click();
        });

        document.getElementById('id_image').addEventListener('change', function() {
            document.getElementById('upload-form').submit();
        });
    </script>
</div>

{% endblock %}
