{% extends 'base.html' %}
{% load static %}
{% block body %}

<style>
    @import url(https://fonts.googleapis.com/css?family=Oswald);


    h1.Name { position: relative; }

    h1.Name:before,
    h1.Name:after {
        content: '[';
        display: inline-block;
        position: relative;
        top: 1px;
        height: 100%;
        font-size: 1.25em;
        color: #4dc1b7;
        
        transition: all 0.5s ease;
    }

    h1.Name:after { content: ']'; }

    h1.Name:hover:before { 
        transform: translateX(-5px);
    }

    h1.Name:hover:after { 
        transform: translateX(5px);
    }

    h1.Name {
        font-family: "Oswald", sans-serif;
    };
    
</style>




<div class="container mt-3">
    <br>
    <br>
    <h1 class="Name" style="text-align: center;"><span>My Page</span></h1>
    <br>
    <br>

    <p style = "font-size: 30px">나의 총점: {{ total_score }}점</p>
    <h3>업로드된 이미지</h3>
   
        <div class="row">
            {% for file in uploaded_files %}
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="{{ file.image.url }}" alt="Uploaded image" style="width: 200px; height: 200px; object-fit: cover;">

                        <div class="caption">
                            <!-- 업로드 날짜 -->
                            <p>업로드 날짜: {{ file.upload_date|date:"Y-m-d H:i" }}</p>
                            <!-- 분석 점수 -->
                            <p>분석 점수: {{ file.analysis_score }}</p>
                            <!-- 분석 결과 -->
                            <p>분석 결과: {{ file.analysis_phrase }}</p>

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    
</div>

{% endblock %}
