<nav class="navbar navbar-dark fixed-top" style="background-color: #79e5c7;">
  <div class="container-fluid">
      <a class="navbar-brand text-white" href="{% url 'app1:index' %}">
          <img src="{{ MEDIA_URL }}/media/images/tema/image.png" alt="" width="110" height="60">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end d-flex flex-column" tabindex="-1" id="offcanvasNavbar"
          aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header" style="background-color: #79e5c7;">
              <h5 class="offcanvas-title text-white" id="offcanvasNavbarLabel">Menu</h5>
              <a class="nav-link disabled special-color" style="color: #000000;"> <strong>{{ user }}</strong> 님</a>

              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                  aria-label="Close" data-bs-target="#bdNavbar"></button>
          </div>
          <hr class="d-none">
          <div class="offcanvas-body" style="background-color: #fdfcfbed;">
              <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                  <li class="nav-item d-flex align-items-center">
                      <span style="margin-right: 5px;">
                          <img src="{{ MEDIA_URL }}/media/images/icon_image/house.png" alt="" width="20" height="20">
                      </span>
                      <a class="nav-link active" aria-current="page" style="color: #000000;"
                          href="{% url 'app1:index' %}">Home</a>
                  </li>
                  <li class="nav-item d-flex align-items-center">
                      <span style="margin-right: 5px;">
                          <img src="{{ MEDIA_URL }}/media/images/icon_image/ranking.png" alt="" width="20" height="20">
                      </span>
                      <a class="nav-link" style="color: #000000;" href="{% url 'ranking:ranking' %}">Ranking</a>
                  </li>
                  <li class="nav-item d-flex align-items-center">
                      <span style="margin-right: 5px;">
                          <img src="{{ MEDIA_URL }}/media/images/icon_image/map.png" alt="" width="20" height="20">
                      </span>
                      <a class="nav-link" style="color: #000000;" href="{% url 'map:index' %}">Map</a>
                  </li>
                  {% if user.is_authenticated %}
                  
                  <li class="nav-item d-flex align-items-center">
                    <span style="margin-right: 5px;">
                      <img src="{{ MEDIA_URL }}/media/images/icon_image/chatbot.png" alt="" width="20" height="20">
                    </span>
                    <a class="nav-link" style="color: #000000;" href="{% url 'chatbot:chatbot' %}">Chatbot</a>
                  </li>

                  <li class="nav-item d-flex align-items-center">
                    <span style="margin-right: 5px;">
                      <img src="{{ MEDIA_URL }}/media/images/icon_image/logout.png" alt="" width="20" height="20">
                    </span>
                      <a class="nav-link" style="color: #000000;" href="{% url 'accounts:logout' %}">Logout</a>
                  </li>
                  
                  <li class="nav-item d-flex align-items-center" >
                    <span style="margin-right: 5px;">
                      <img src="{{ MEDIA_URL }}/media/images/icon_image/user.png" alt="" width="20" height="20">
                    </span>
                    <a class="nav-link special-color" style="color: #000000;" href="{% url 'mypage:my_page' %}"> <strong>{{ user }}</strong> 님</a>
                  </li>
                  {% else %}
                  <li class="nav-item d-flex align-items-center">
                    <span style="margin-right: 5px;">
                      <img src="{{ MEDIA_URL }}/media/images/icon_image/login.png" alt="" width="20" height="20">
                    </span>
                      <a class="nav-link" style="color: #000000;" href="{% url 'accounts:login' %}">Login</a>
                  </li>
                  <li class="nav-item d-flex align-items-center">
                    <span style="margin-right: 5px;">
                      <img src="{{ MEDIA_URL }}/media/images/icon_image/signup.png" alt="" width="20" height="20">
                    </span>
                      <a class="nav-link" style="color: #000000;" href="{% url 'accounts:signup' %}">Signup</a>
                  </li>
                  {% endif %}
              </ul>
          </div>
      </div>
  </div>
</nav>
