



<nav class="navbar bg-success fixed-top text-white">
  <div class="container-fluid">
      <a class="navbar-brand text-white" href="{% url 'app1:index' %}">KickKick Park</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header  bg-success">
              <h5 class="offcanvas-title text-white" id="offcanvasNavbarLabel">Menu</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#bdNavbar"></button>
          </div>
          <hr class="d-none bg-success ">
          <div class="offcanvas-body  bg-success bg-opacity-75">
            <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="{% url 'app1:index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Ranking</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'map:index'  %}">Map</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'accounts:logout' %}">Logout</a>
                </li>
                <a class="nav-link disabled special-color " style="color: #000000; font-weight: bold;">{{ user }}</a>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'accounts:login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'accounts:signup' %}">Signup</a>
                </li>
                {% endif %}
            </ul>
        </div>        
      </div>
  </div>
</nav>
